h1 {
  font-size:80;
  text-align: center;
}

.centered {
    text-align: center; 
	
}

.styled-link {
    text-decoration: none;
    font-size: 40px;
    color: white;
	padding: 30px ;
    background-color: black; 
    font-family: Arial, sans-serif; 
	text-align: center; 
	margin-right: 20xp;
}

a {
	color: white;
	text-decoration: remove underline; 
	text-decoration: none ;
	width: 200px;
  padding: 57px;
  
  @media screen and (max-width: 600px) {
    /* CSS rules for screens with a maximum width of 600px (typical mobile screens) */
    /* Example: Adjust layout, font sizes, etc. */
}